# Strictness of employment protection on regular contracts

Extraction of data about Italy from 1992 to 2009 (reference period examined by the paper: "Welfare Benefits and Unemployment in Affluent Democracies: The Moderating Role of the Institutional Insider/Outsider Divide" of Thomas Biegert). Data coming from OECD (Organisation for Economic Co-operation and Development).

In [47]:
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
from bokeh.plotting import figure, output_notebook, show
output_notebook()

In [2]:
data1 = pd.read_csv("Strictness of employment protection in regular contracts.csv")
data1.head()

,COUNTRY,Country,SERIES,Series,TIME,Time,Unit Code,Unit,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags
0,AUS,Australia,EPRC_V1,Version 1 (1985-2019),1990,1990,IDX,Index,0,Units,NaN,NaN,1.166667,NaN,NaN
1,AUS,Australia,EPRC_V1,Version 1 (1985-2019),1991,1991,IDX,Index,0,Units,NaN,NaN,1.166667,NaN,NaN
2,AUS,Australia,EPRC_V1,Version 1 (1985-2019),1992,1992,IDX,Index,0,Units,NaN,NaN,1.166667,NaN,NaN
3,AUS,Australia,EPRC_V1,Version 1 (1985-2019),1993,1993,IDX,Index,0,Units,NaN,NaN,1.166667,NaN,NaN
4,AUS,Australia,EPRC_V1,Version 1 (1985-2019),1994,1994,IDX,Index,0,Units,NaN,NaN,1.166667,NaN,NaN

In [3]:
# We select just the rows about Italy from 1992 to 2009

df = data1[(data1.TIME >= 1992) & (data1.TIME <= 2009) & (data1.COUNTRY == 'ITA') & (data1.Series == 'Version 1 (1985-2019)')]
df

,COUNTRY,Country,SERIES,Series,TIME,Time,Unit Code,Unit,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags
371,ITA,Italy,EPRC_V1,Version 1 (1985-2019),1992,1992,IDX,Index,0,Units,NaN,NaN,3.015873,NaN,NaN
372,ITA,Italy,EPRC_V1,Version 1 (1985-2019),1993,1993,IDX,Index,0,Units,NaN,NaN,3.015873,NaN,NaN
373,ITA,Italy,EPRC_V1,Version 1 (1985-2019),1994,1994,IDX,Index,0,Units,NaN,NaN,3.015873,NaN,NaN
374,ITA,Italy,EPRC_V1,Version 1 (1985-2019),1995,1995,IDX,Index,0,Units,NaN,NaN,3.015873,NaN,NaN
375,ITA,Italy,EPRC_V1,Version 1 (1985-2019),1996,1996,IDX,Index,0,Units,NaN,NaN,3.015873,NaN,NaN
376,ITA,Italy,EPRC_V1,Version 1 (1985-2019),1997,1997,IDX,Index,0,Units,NaN,NaN,3.015873,NaN,NaN
377,ITA,Italy,EPRC_V1,Version 1 (1985-2019),1998,1998,IDX,Index,0,Units,NaN,NaN,3.015873,NaN,NaN
378,ITA,Italy,EPRC_V1,Version 1 (1985-2019),1999,1999,IDX,Index,0,Units,NaN,NaN,3.015873,NaN,NaN
379,ITA,Italy,EPRC_V1,Version 1 (1985-2019),2000,2000,IDX,Index,0,Units,NaN,NaN,3.015873,NaN,NaN
380,ITA,Italy,EPRC_V1,Version 1 (1985-2019),2001,2001,IDX,Index,0,Units,NaN,NaN,3.015873,NaN,NaN
381,ITA,Italy,EPRC_V1,Version 1 (1985-2019),2002,2002,IDX,Index,0,Units,NaN,NaN,3.015873,NaN,NaN
382,ITA,Italy,EPRC_V1,Version 1 (1985-2019),2003,2003,IDX,Index,0,Units,NaN,NaN,3.015873,NaN,NaN
383,ITA,Italy,EPRC_V1,Version 1 (1985-2019),2004,2004,IDX,Index,0,Units,NaN,NaN,3.015873,NaN,NaN
384,ITA,Italy,EPRC_V1,Version 1 (1985-2019),2005,2005,IDX,Index,0,Units,NaN,NaN,3.015873,NaN,NaN
385,ITA,Italy,EPRC_V1,Version 1 (1985-2019),2006,2006,IDX,Index,0,Units,NaN,NaN,3.015873,NaN,NaN
386,ITA,Italy,EPRC_V1,Version 1 (1985-2019),2007,2007,IDX,Index,0,Units,NaN,NaN,3.015873,NaN,NaN
387,ITA,Italy,EPRC_V1,Version 1 (1985-2019),2008,2008,IDX,Index,0,Units,NaN,NaN,3.015873,NaN,NaN
388,ITA,Italy,EPRC_V1,Version 1 (1985-2019),2009,2009,IDX,Index,0,Units,NaN,NaN,3.015873,NaN,NaN

In [4]:
# We now drop the columns we are not interested in
df.drop(['COUNTRY','Country','SERIES','Series','TIME','Unit Code', 'Unit', 'PowerCode Code', 'PowerCode', 'Reference Period Code',
        'Reference Period', 'Flag Codes', 'Flags'], axis=1, inplace=True)
df

C:\Users\clpan\AppData\Local\Temp\ipykernel_17700\425626912.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(['COUNTRY','Country','SERIES','Series','TIME','Unit Code', 'Unit', 'PowerCode Code', 'PowerCode', 'Reference Period Code',

     Time     Value
371  1992  3.015873
372  1993  3.015873
373  1994  3.015873
374  1995  3.015873
375  1996  3.015873
376  1997  3.015873
377  1998  3.015873
378  1999  3.015873
379  2000  3.015873
380  2001  3.015873
381  2002  3.015873
382  2003  3.015873
383  2004  3.015873
384  2005  3.015873
385  2006  3.015873
386  2007  3.015873
387  2008  3.015873
388  2009  3.015873

In [7]:
df = df.reset_index()

ValueError: cannot insert level_0, already exists

In [8]:
del df['level_0']
del df['index']
df

    Time     Value
0   1992  3.015873
1   1993  3.015873
2   1994  3.015873
3   1995  3.015873
4   1996  3.015873
5   1997  3.015873
6   1998  3.015873
7   1999  3.015873
8   2000  3.015873
9   2001  3.015873
10  2002  3.015873
11  2003  3.015873
12  2004  3.015873
13  2005  3.015873
14  2006  3.015873
15  2007  3.015873
16  2008  3.015873
17  2009  3.015873

In [9]:
# We rename the 'Value' column

df.rename(columns={'Value':'EPL_regular'}, inplace=True)
df

    Time  EPL_regular
0   1992     3.015873
1   1993     3.015873
2   1994     3.015873
3   1995     3.015873
4   1996     3.015873
5   1997     3.015873
6   1998     3.015873
7   1999     3.015873
8   2000     3.015873
9   2001     3.015873
10  2002     3.015873
11  2003     3.015873
12  2004     3.015873
13  2005     3.015873
14  2006     3.015873
15  2007     3.015873
16  2008     3.015873
17  2009     3.015873

# Adding strictness of employment protection in temporary contracts

We now add this indicator, using data coming from the OECD databse as before. It will be useful to compute the EPL ratio for Italy, in combination with the strictness of employment protection in regular contracts stored above.

In [10]:
# At first we create a deep copy of the dataset made before

df2 = df.copy()
df2.head()

   Time  EPL_regular
0  1992     3.015873
1  1993     3.015873
2  1994     3.015873
3  1995     3.015873
4  1996     3.015873

In [11]:
# We import the dataset with the interested variables to add
data2 = pd.read_csv("Strictness of employment protection in temporary contracts.csv")
data2.head()

,COUNTRY,Country,SERIES,Series,TIME,Time,Unit Code,Unit,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags
0,AUS,Australia,EPT_V1,Version 1 (1985-2019),1990,1990,IDX,Index,0,Units,NaN,NaN,0.875,NaN,NaN
1,AUS,Australia,EPT_V1,Version 1 (1985-2019),1991,1991,IDX,Index,0,Units,NaN,NaN,0.875,NaN,NaN
2,AUS,Australia,EPT_V1,Version 1 (1985-2019),1992,1992,IDX,Index,0,Units,NaN,NaN,0.875,NaN,NaN
3,AUS,Australia,EPT_V1,Version 1 (1985-2019),1993,1993,IDX,Index,0,Units,NaN,NaN,0.875,NaN,NaN
4,AUS,Australia,EPT_V1,Version 1 (1985-2019),1994,1994,IDX,Index,0,Units,NaN,NaN,0.875,NaN,NaN

In [12]:
# We operate a data filtering similar to the previous one, keeping just the rows related to Italy from 1992 to 2009

data2 = data2[(data2.TIME >= 1992) & (data1.TIME <= 2009) & (data1.COUNTRY == 'ITA') & (data1.Series == 'Version 1 (1985-2019)')]
data2

C:\Users\clpan\AppData\Local\Temp\ipykernel_17700\2155383691.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  data2 = data2[(data2.TIME >= 1992) & (data1.TIME <= 2009) & (data1.COUNTRY == 'ITA') & (data1.Series == 'Version 1 (1985-2019)')]

,COUNTRY,Country,SERIES,Series,TIME,Time,Unit Code,Unit,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags
371,ITA,Italy,EPT_V1,Version 1 (1985-2019),1992,1992,IDX,Index,0,Units,NaN,NaN,4.750,NaN,NaN
372,ITA,Italy,EPT_V1,Version 1 (1985-2019),1993,1993,IDX,Index,0,Units,NaN,NaN,4.750,NaN,NaN
373,ITA,Italy,EPT_V1,Version 1 (1985-2019),1994,1994,IDX,Index,0,Units,NaN,NaN,4.750,NaN,NaN
374,ITA,Italy,EPT_V1,Version 1 (1985-2019),1995,1995,IDX,Index,0,Units,NaN,NaN,4.750,NaN,NaN
375,ITA,Italy,EPT_V1,Version 1 (1985-2019),1996,1996,IDX,Index,0,Units,NaN,NaN,4.750,NaN,NaN
376,ITA,Italy,EPT_V1,Version 1 (1985-2019),1997,1997,IDX,Index,0,Units,NaN,NaN,4.750,NaN,NaN
377,ITA,Italy,EPT_V1,Version 1 (1985-2019),1998,1998,IDX,Index,0,Units,NaN,NaN,3.625,NaN,NaN
378,ITA,Italy,EPT_V1,Version 1 (1985-2019),1999,1999,IDX,Index,0,Units,NaN,NaN,3.625,NaN,NaN
379,ITA,Italy,EPT_V1,Version 1 (1985-2019),2000,2000,IDX,Index,0,Units,NaN,NaN,3.250,NaN,NaN
380,ITA,Italy,EPT_V1,Version 1 (1985-2019),2001,2001,IDX,Index,0,Units,NaN,NaN,3.250,NaN,NaN
381,ITA,Italy,EPT_V1,Version 1 (1985-2019),2002,2002,IDX,Index,0,Units,NaN,NaN,2.375,NaN,NaN
382,ITA,Italy,EPT_V1,Version 1 (1985-2019),2003,2003,IDX,Index,0,Units,NaN,NaN,2.000,NaN,NaN
383,ITA,Italy,EPT_V1,Version 1 (1985-2019),2004,2004,IDX,Index,0,Units,NaN,NaN,2.000,NaN,NaN
384,ITA,Italy,EPT_V1,Version 1 (1985-2019),2005,2005,IDX,Index,0,Units,NaN,NaN,2.000,NaN,NaN
385,ITA,Italy,EPT_V1,Version 1 (1985-2019),2006,2006,IDX,Index,0,Units,NaN,NaN,2.000,NaN,NaN
386,ITA,Italy,EPT_V1,Version 1 (1985-2019),2007,2007,IDX,Index,0,Units,NaN,NaN,2.000,NaN,NaN
387,ITA,Italy,EPT_V1,Version 1 (1985-2019),2008,2008,IDX,Index,0,Units,NaN,NaN,2.000,NaN,NaN
388,ITA,Italy,EPT_V1,Version 1 (1985-2019),2009,2009,IDX,Index,0,Units,NaN,NaN,2.000,NaN,NaN

In [13]:
data2.drop(['COUNTRY','Country','SERIES','Series','TIME','Unit Code', 'Unit', 'PowerCode Code', 'PowerCode', 'Reference Period Code',
        'Reference Period', 'Flag Codes', 'Flags'], axis=1, inplace=True)
data2

C:\Users\clpan\AppData\Local\Temp\ipykernel_17700\3305981557.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2.drop(['COUNTRY','Country','SERIES','Series','TIME','Unit Code', 'Unit', 'PowerCode Code', 'PowerCode', 'Reference Period Code',

     Time  Value
371  1992  4.750
372  1993  4.750
373  1994  4.750
374  1995  4.750
375  1996  4.750
376  1997  4.750
377  1998  3.625
378  1999  3.625
379  2000  3.250
380  2001  3.250
381  2002  2.375
382  2003  2.000
383  2004  2.000
384  2005  2.000
385  2006  2.000
386  2007  2.000
387  2008  2.000
388  2009  2.000

In [14]:
data2.rename(columns={'Value':'EPL_temporary'}, inplace=True)
data2

C:\Users\clpan\AppData\Local\Temp\ipykernel_17700\4061717405.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2.rename(columns={'Value':'EPL_temporary'}, inplace=True)

     Time  EPL_temporary
371  1992          4.750
372  1993          4.750
373  1994          4.750
374  1995          4.750
375  1996          4.750
376  1997          4.750
377  1998          3.625
378  1999          3.625
379  2000          3.250
380  2001          3.250
381  2002          2.375
382  2003          2.000
383  2004          2.000
384  2005          2.000
385  2006          2.000
386  2007          2.000
387  2008          2.000
388  2009          2.000

In [15]:
# We merge (left merge) the original dataframe df2 with the data2 above
result = pd.merge(df2, #left df
                  data2[['Time', 'EPL_temporary']], #right df with just the columns I want
                  on='Time', #column they have in common
                  how='left'
                 )
result

    Time  EPL_regular  EPL_temporary
0   1992     3.015873          4.750
1   1993     3.015873          4.750
2   1994     3.015873          4.750
3   1995     3.015873          4.750
4   1996     3.015873          4.750
5   1997     3.015873          4.750
6   1998     3.015873          3.625
7   1999     3.015873          3.625
8   2000     3.015873          3.250
9   2001     3.015873          3.250
10  2002     3.015873          2.375
11  2003     3.015873          2.000
12  2004     3.015873          2.000
13  2005     3.015873          2.000
14  2006     3.015873          2.000
15  2007     3.015873          2.000
16  2008     3.015873          2.000
17  2009     3.015873          2.000

In [46]:
# We compute the EPL ratio between the strictness of employment protection in regular and temporary contracts

result['EPL_ratio'] = result['EPL_regular'] / result['EPL_temporary']
result

    Time  EPL_regular  EPL_temporary  EPL_ratio
0   1992     3.015873          4.750   0.634921
1   1993     3.015873          4.750   0.634921
2   1994     3.015873          4.750   0.634921
3   1995     3.015873          4.750   0.634921
4   1996     3.015873          4.750   0.634921
5   1997     3.015873          4.750   0.634921
6   1998     3.015873          3.625   0.831965
7   1999     3.015873          3.625   0.831965
8   2000     3.015873          3.250   0.927961
9   2001     3.015873          3.250   0.927961
10  2002     3.015873          2.375   1.269841
11  2003     3.015873          2.000   1.507936
12  2004     3.015873          2.000   1.507936
13  2005     3.015873          2.000   1.507936
14  2006     3.015873          2.000   1.507936
15  2007     3.015873          2.000   1.507936
16  2008     3.015873          2.000   1.507936
17  2009     3.015873          2.000   1.507936

In [50]:
# We can plot the time series of the EPL

df = result.copy()

# create a new plot with a title and axis labels
p = figure(title="EPL ratio in Italy (1992 - 2009)", x_axis_label='Years', 
           y_axis_label='EPL ratio', width=800, height=700)

# add a line renderer with legend and line thickness
p.line(df.Time, df.EPL_ratio, line_width=2)

# show the results
show(p)

From 1992 to 2009 the EPL ratio between permanent and temporary contracts has increased, maily because of the decreasing of the stricness in temporary contracts. In fact, while the strictness in regular contracts remains constant throughout the entire period, the temporary job market has been rendered more flexible. As reported by the European Commission paper: "The Recent Reform of the Labour Market in Italy: A Review", Treu Package (1997) and the Biagi Law (2003) relaxed the rules for the use of standard temporary contracts and introduced a wide set of new (“atypical”) temporary contracts, while maintaining existing rules on permanent contracts. In fact, as shown in the plot, the increase of the EPL ratio started from 1997 and had a steep increase in the early '2000s. Another recent reform in the Italian job market has been the so-called "Jobs Act", entered into force in 2015. But its effects are not shown in the graph because exceed the period of time taken into consideration.

Link to the European Commission paper: https://ec.europa.eu/info/sites/default/files/economy-finance/dp072_en.pdf

# Unemployment in Italy (1992 - 2009)

Data have been taken from the OECD database. The unemployment rate is expressed in percentage and it is calculated as the ratio between the unemployed population and the active population (also called labor force).

In [54]:
unemp = pd.read_csv("Unemployment_rate_Italy.csv")
unemp

,LOCATION,Country,SUBJECT,Subject,MEASURE,Measure,FREQUENCY,Frequency,TIME,Time,Unit Code,Unit,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags
0,ITA,Italy,LRHUTTFE,"Unemployment rate (monthly), Total, Females",STSA,"Level, rate or quantity series, s.a.",A,Annual,1992,1992,PC,Percentage,0,Units,NaN,NaN,12.925000,NaN,NaN
1,ITA,Italy,LRHUTTFE,"Unemployment rate (monthly), Total, Females",STSA,"Level, rate or quantity series, s.a.",A,Annual,1993,1993,PC,Percentage,0,Units,NaN,NaN,13.908330,NaN,NaN
2,ITA,Italy,LRHUTTFE,"Unemployment rate (monthly), Total, Females",STSA,"Level, rate or quantity series, s.a.",A,Annual,1994,1994,PC,Percentage,0,Units,NaN,NaN,14.708330,NaN,NaN
3,ITA,Italy,LRHUTTFE,"Unemployment rate (monthly), Total, Females",STSA,"Level, rate or quantity series, s.a.",A,Annual,1995,1995,PC,Percentage,0,Units,NaN,NaN,15.441670,NaN,NaN
4,ITA,Italy,LRHUTTFE,"Unemployment rate (monthly), Total, Females",STSA,"Level, rate or quantity series, s.a.",A,Annual,1996,1996,PC,Percentage,0,Units,NaN,NaN,15.283330,NaN,NaN
5,ITA,Italy,LRHUTTFE,"Unemployment rate (monthly), Total, Females",STSA,"Level, rate or quantity series, s.a.",A,Annual,1997,1997,PC,Percentage,0,Units,NaN,NaN,15.391670,NaN,NaN
6,ITA,Italy,LRHUTTFE,"Unemployment rate (monthly), Total, Females",STSA,"Level, rate or quantity series, s.a.",A,Annual,1998,1998,PC,Percentage,0,Units,NaN,NaN,15.416670,NaN,NaN
7,ITA,Italy,LRHUTTFE,"Unemployment rate (monthly), Total, Females",STSA,"Level, rate or quantity series, s.a.",A,Annual,1999,1999,PC,Percentage,0,Units,NaN,NaN,14.783330,NaN,NaN
8,ITA,Italy,LRHUTTFE,"Unemployment rate (monthly), Total, Females",STSA,"Level, rate or quantity series, s.a.",A,Annual,2000,2000,PC,Percentage,0,Units,NaN,NaN,13.591670,NaN,NaN
9,ITA,Italy,LRHUTTFE,"Unemployment rate (monthly), Total, Females",STSA,"Level, rate or quantity series, s.a.",A,Annual,2001,2001,PC,Percentage,0,Units,NaN,NaN,12.108330,NaN,NaN
10,ITA,Italy,LRHUTTFE,"Unemployment rate (monthly), Total, Females",STSA,"Level, rate or quantity series, s.a.",A,Annual,2002,2002,PC,Percentage,0,Units,NaN,NaN,11.350000,NaN,NaN
11,ITA,Italy,LRHUTTFE,"Unemployment rate (monthly), Total, Females",STSA,"Level, rate or quantity series, s.a.",A,Annual,2003,2003,PC,Percentage,0,Units,NaN,NaN,11.341670,B,Break
12,ITA,Italy,LRHUTTFE,"Unemployment rate (monthly), Total, Females",STSA,"Level, rate or quantity series, s.a.",A,Annual,2004,2004,PC,Percentage,0,Units,NaN,NaN,10.491670,NaN,NaN
13,ITA,Italy,LRHUTTFE,"Unemployment rate (monthly), Total, Females",STSA,"Level, rate or quantity series, s.a.",A,Annual,2005,2005,PC,Percentage,0,Units,NaN,NaN,10.050000,NaN,NaN
14,ITA,Italy,LRHUTTFE,"Unemployment rate (monthly), Total, Females",STSA,"Level, rate or quantity series, s.a.",A,Annual,2006,2006,PC,Percentage,0,Units,NaN,NaN,8.841666,NaN,NaN
15,ITA,Italy,LRHUTTFE,"Unemployment rate (monthly), Total, Females",STSA,"Level, rate or quantity series, s.a.",A,Annual,2007,2007,PC,Percentage,0,Units,NaN,NaN,7.883333,NaN,NaN
16,ITA,Italy,LRHUTTFE,"Unemployment rate (monthly), Total, Females",STSA,"Level, rate or quantity series, s.a.",A,Annual,2008,2008,PC,Percentage,0,Units,NaN,NaN,8.483334,NaN,NaN
17,ITA,Italy,LRHUTTFE,"Unemployment rate (monthly), Total, Females",STSA,"Level, rate or quantity series, s.a.",A,Annual,2009,2009,PC,Percentage,0,Units,NaN,NaN,9.266666,NaN,NaN
18,ITA,Italy,LRHUTTMA,"Unemployment rate (monthly), Total, Males",STSA,"Level, rate or quantity series, s.a.",A,Annual,1992,1992,PC,Percentage,0,Units,NaN,NaN,6.391667,NaN,NaN
19,ITA,Italy,LRHUTTMA,"Unemployment rate (monthly), Total, Males",STSA,"Level, rate or quantity series, s.a.",A,Annual,1993,1993,PC,Percentage,0,Units,NaN,NaN,7.200000,NaN,NaN
20,ITA,Italy,LRHUTTMA,"Unemployment rate (monthly), Total, Males",STSA,"Level, rate or quantity series, s.a.",A,Annual,1994,1994,PC,Percentage,0,Units,NaN,NaN,8.175000,NaN,NaN
21,ITA,Italy,LRHUTTMA,"Unemployment rate (monthly), Total, Males",STSA,"Level, rate or quantity series, s.a.",A,Annual,1995,1995,PC,Percentage,0,Units,NaN,NaN,8.550000,NaN,NaN
22,ITA,Italy,LRHUTTMA,"Unemployment rate (monthly), Total, Males",STSA,"Level, rate or quantity series, s.a.",A,Annual,1996,1996,PC,Percentage,0,Units,NaN,NaN,8.600000,NaN,NaN
23,ITA,Italy,LRHUTTMA,"Unemployment rate (monthly), Total, Males",STSA,"Level, rate or quantity series, s.a.",A,Annual,1997,1997,PC,Percentage,0,Units,NaN,NaN,8.600000,NaN,NaN
24,ITA,Italy,LRHUTTMA,"Unemployment rate (monthly), Total, Males",STSA,"Level, rate or quantity series, s.a.",A,Annual,1998,1998,PC,Percentage,0,Units,NaN,NaN,8.650000,NaN,NaN
25,ITA,Italy,LRHUTTMA,"Unemployment rate (monthly), Total, Males",STSA,"Level, rate or quantity series, s.a.",A,Annual,1999,1999,PC,Percentage,0,Units,NaN,NaN,8.308333,NaN,NaN
26,ITA,Italy,LRHUTTMA,"Unemployment rate (monthly), Total, Males",STSA,"Level, rate or quantity series, s.a.",A,Annual,2000,2000,PC,Percentage,0,Units,NaN,NaN,7.683333,NaN,NaN
27,ITA,Italy,LRHUTTMA,"Unemployment rate (monthly), Total, Males",STSA,"Level, rate or quantity series, s.a.",A,Annual,2001,2001,PC,Percentage,0,Units,NaN,NaN,6.925000,NaN,NaN
28,ITA,Italy,LRHUTTMA,"Unemployment rate (monthly), Total, Males",STSA,"Level, rate or quantity series, s.a.",A,Annual,2002,2002,PC,Percentage,0,Units,NaN,NaN,6.508333,NaN,NaN
29,ITA,Italy,LRHUTTMA,"Unemployment rate (monthly), Total, Males",STSA,"Level, rate or quantity series, s.a.",A,Annual,2003,2003,PC,Percentage,0,Units,NaN,NaN,6.458333,B,Break
30,ITA,Italy,LRHUTTMA,"Unemployment rate (monthly), Total, Males",STSA,"Level, rate or quantity series, s.a.",A,Annual,2004,2004,PC,Percentage,0,Units,NaN,NaN,6.400000,NaN,NaN
31,ITA,Italy,LRHUTTMA,"Unemployment rate (monthly), Total, Males",STSA,"Level, rate or quantity series, s.a.",A,Annual,2005,2005,PC,Percentage,0,Units,NaN,NaN,6.258333,NaN,NaN
32,ITA,Italy,LRHUTTMA,"Unemployment rate (monthly), Total, Males",STSA,"Level, rate or quantity series, s.a.",A,Annual,2006,2006,PC,Percentage,0,Units,NaN,NaN,5.525000,NaN,NaN
33,ITA,Italy,LRHUTTMA,"Unemployment rate (monthly), Total, Males",STSA,"Level, rate or quantity series, s.a.",A,Annual,2007,2007,PC,Percentage,0,Units,NaN,NaN,4.950000,NaN,NaN
34,ITA,Italy,LRHUTTMA,"Unemployment rate (monthly), Total, Males",STSA,"Level, rate or quantity series, s.a.",A,Annual,2008,2008,PC,Percentage,0,Units,NaN,NaN,5.566667,NaN,NaN
35,ITA,Italy,LRHUTTMA,"Unemployment rate (monthly), Total, Males",STSA,"Level, rate or quantity series, s.a.",A,Annual,2009,2009,PC,Percentage,0,Units,NaN,NaN,6.883333,NaN,NaN
36,ITA,Italy,LRHUTTTT,"Unemployment rate (monthly), Total, All persons",STSA,"Level, rate or quantity series, s.a.",A,Annual,1992,1992,PC,Percentage,0,Units,NaN,NaN,8.791667,NaN,NaN
37,ITA,Italy,LRHUTTTT,"Unemployment rate (monthly), Total, All persons",STSA,"Level, rate or quantity series, s.a.",A,Annual,1993,1993,PC,Percentage,0,Units,NaN,NaN,9.725000,NaN,NaN
38,ITA,Italy,LRHUTTTT,"Unemployment rate (monthly), Total, All persons",STSA,"Level, rate or quantity series, s.a.",A,Annual,1994,1994,PC,Percentage,0,Units,NaN,NaN,10.650000,NaN,NaN
39,ITA,Italy,LRHUTTTT,"Unemployment rate (monthly), Total, All persons",STSA,"Level, rate or quantity series, s.a.",A,Annual,1995,1995,PC,Percentage,0,Units,NaN,NaN,11.183330,NaN,NaN
40,ITA,Italy,LRHUTTTT,"Unemployment rate (monthly), Total, All persons",STSA,"Level, rate or quantity series, s.a.",A,Annual,1996,1996,PC,Percentage,0,Units,NaN,NaN,11.166670,NaN,NaN
41,ITA,Italy,LRHUTTTT,"Unemployment rate (monthly), Total, All persons",STSA,"Level, rate or quantity series, s.a.",A,Annual,1997,1997,PC,Percentage,0,Units,NaN,NaN,11.216670,NaN,NaN
42,ITA,Italy,LRHUTTTT,"Unemployment rate (monthly), Total, All persons",STSA,"Level, rate or quantity series, s.a.",A,Annual,1998,1998,PC,Percentage,0,Units,NaN,NaN,11.300000,NaN,NaN
43,ITA,Italy,LRHUTTTT,"Unemployment rate (monthly), Total, All persons",STSA,"Level, rate or quantity series, s.a.",A,Annual,1999,1999,PC,Percentage,0,Units,NaN,NaN,10.866670,NaN,NaN
44,ITA,Italy,LRHUTTTT,"Unemployment rate (monthly), Total, All persons",STSA,"Level, rate or quantity series, s.a.",A,Annual,2000,2000,PC,Percentage,0,Units,NaN,NaN,10.050000,NaN,NaN
45,ITA,Italy,LRHUTTTT,"Unemployment rate (monthly), Total, All persons",STSA,"Level, rate or quantity series, s.a.",A,Annual,2001,2001,PC,Percentage,0,Units,NaN,NaN,9.008333,NaN,NaN
46,ITA,Italy,LRHUTTTT,"Unemployment rate (monthly), Total, All persons",STSA,"Level, rate or quantity series, s.a.",A,Annual,2002,2002,PC,Percentage,0,Units,NaN,NaN,8.475000,NaN,NaN
47,ITA,Italy,LRHUTTTT,"Unemployment rate (monthly), Total, All persons",STSA,"Level, rate or quantity series, s.a.",A,Annual,2003,2003,PC,Percentage,0,Units,NaN,NaN,8.433333,B,Break
48,ITA,Italy,LRHUTTTT,"Unemployment rate (monthly), Total, All persons",STSA,"Level, rate or quantity series, s.a.",A,Annual,2004,2004,PC,Percentage,0,Units,NaN,NaN,8.050000,NaN,NaN
49,ITA,Italy,LRHUTTTT,"Unemployment rate (monthly), Total, All persons",STSA,"Level, rate or quantity series, s.a.",A,Annual,2005,2005,PC,Percentage,0,Units,NaN,NaN,7.783333,NaN,NaN
50,ITA,Italy,LRHUTTTT,"Unemployment rate (monthly), Total, All persons",STSA,"Level, rate or quantity series, s.a.",A,Annual,2006,2006,PC,Percentage,0,Units,NaN,NaN,6.866667,NaN,NaN
51,ITA,Italy,LRHUTTTT,"Unemployment rate (monthly), Total, All persons",STSA,"Level, rate or quantity series, s.a.",A,Annual,2007,2007,PC,Percentage,0,Units,NaN,NaN,6.150000,NaN,NaN
52,ITA,Italy,LRHUTTTT,"Unemployment rate (monthly), Total, All persons",STSA,"Level, rate or quantity series, s.a.",A,Annual,2008,2008,PC,Percentage,0,Units,NaN,NaN,6.775000,NaN,NaN
53,ITA,Italy,LRHUTTTT,"Unemployment rate (monthly), Total, All persons",STSA,"Level, rate or quantity series, s.a.",A,Annual,2009,2009,PC,Percentage,0,Units,NaN,NaN,7.875000,NaN,NaN

In [55]:
# We select just the rows about the entire population (without making a distinction between males and females)

unemp = unemp[(unemp.Subject == 'Unemployment rate (monthly), Total, All persons')]
unemp

,LOCATION,Country,SUBJECT,Subject,MEASURE,Measure,FREQUENCY,Frequency,TIME,Time,Unit Code,Unit,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags
36,ITA,Italy,LRHUTTTT,"Unemployment rate (monthly), Total, All persons",STSA,"Level, rate or quantity series, s.a.",A,Annual,1992,1992,PC,Percentage,0,Units,NaN,NaN,8.791667,NaN,NaN
37,ITA,Italy,LRHUTTTT,"Unemployment rate (monthly), Total, All persons",STSA,"Level, rate or quantity series, s.a.",A,Annual,1993,1993,PC,Percentage,0,Units,NaN,NaN,9.725000,NaN,NaN
38,ITA,Italy,LRHUTTTT,"Unemployment rate (monthly), Total, All persons",STSA,"Level, rate or quantity series, s.a.",A,Annual,1994,1994,PC,Percentage,0,Units,NaN,NaN,10.650000,NaN,NaN
39,ITA,Italy,LRHUTTTT,"Unemployment rate (monthly), Total, All persons",STSA,"Level, rate or quantity series, s.a.",A,Annual,1995,1995,PC,Percentage,0,Units,NaN,NaN,11.183330,NaN,NaN
40,ITA,Italy,LRHUTTTT,"Unemployment rate (monthly), Total, All persons",STSA,"Level, rate or quantity series, s.a.",A,Annual,1996,1996,PC,Percentage,0,Units,NaN,NaN,11.166670,NaN,NaN
41,ITA,Italy,LRHUTTTT,"Unemployment rate (monthly), Total, All persons",STSA,"Level, rate or quantity series, s.a.",A,Annual,1997,1997,PC,Percentage,0,Units,NaN,NaN,11.216670,NaN,NaN
42,ITA,Italy,LRHUTTTT,"Unemployment rate (monthly), Total, All persons",STSA,"Level, rate or quantity series, s.a.",A,Annual,1998,1998,PC,Percentage,0,Units,NaN,NaN,11.300000,NaN,NaN
43,ITA,Italy,LRHUTTTT,"Unemployment rate (monthly), Total, All persons",STSA,"Level, rate or quantity series, s.a.",A,Annual,1999,1999,PC,Percentage,0,Units,NaN,NaN,10.866670,NaN,NaN
44,ITA,Italy,LRHUTTTT,"Unemployment rate (monthly), Total, All persons",STSA,"Level, rate or quantity series, s.a.",A,Annual,2000,2000,PC,Percentage,0,Units,NaN,NaN,10.050000,NaN,NaN
45,ITA,Italy,LRHUTTTT,"Unemployment rate (monthly), Total, All persons",STSA,"Level, rate or quantity series, s.a.",A,Annual,2001,2001,PC,Percentage,0,Units,NaN,NaN,9.008333,NaN,NaN
46,ITA,Italy,LRHUTTTT,"Unemployment rate (monthly), Total, All persons",STSA,"Level, rate or quantity series, s.a.",A,Annual,2002,2002,PC,Percentage,0,Units,NaN,NaN,8.475000,NaN,NaN
47,ITA,Italy,LRHUTTTT,"Unemployment rate (monthly), Total, All persons",STSA,"Level, rate or quantity series, s.a.",A,Annual,2003,2003,PC,Percentage,0,Units,NaN,NaN,8.433333,B,Break
48,ITA,Italy,LRHUTTTT,"Unemployment rate (monthly), Total, All persons",STSA,"Level, rate or quantity series, s.a.",A,Annual,2004,2004,PC,Percentage,0,Units,NaN,NaN,8.050000,NaN,NaN
49,ITA,Italy,LRHUTTTT,"Unemployment rate (monthly), Total, All persons",STSA,"Level, rate or quantity series, s.a.",A,Annual,2005,2005,PC,Percentage,0,Units,NaN,NaN,7.783333,NaN,NaN
50,ITA,Italy,LRHUTTTT,"Unemployment rate (monthly), Total, All persons",STSA,"Level, rate or quantity series, s.a.",A,Annual,2006,2006,PC,Percentage,0,Units,NaN,NaN,6.866667,NaN,NaN
51,ITA,Italy,LRHUTTTT,"Unemployment rate (monthly), Total, All persons",STSA,"Level, rate or quantity series, s.a.",A,Annual,2007,2007,PC,Percentage,0,Units,NaN,NaN,6.150000,NaN,NaN
52,ITA,Italy,LRHUTTTT,"Unemployment rate (monthly), Total, All persons",STSA,"Level, rate or quantity series, s.a.",A,Annual,2008,2008,PC,Percentage,0,Units,NaN,NaN,6.775000,NaN,NaN
53,ITA,Italy,LRHUTTTT,"Unemployment rate (monthly), Total, All persons",STSA,"Level, rate or quantity series, s.a.",A,Annual,2009,2009,PC,Percentage,0,Units,NaN,NaN,7.875000,NaN,NaN

In [57]:
# We now drop the columns we are not interested in

unemp.drop(['LOCATION','Country','SUBJECT','Subject','MEASURE','Measure','FREQUENCY','Frequency','TIME',
           'Unit Code','Unit','PowerCode Code','PowerCode','Reference Period Code','Reference Period',
           'Flag Codes','Flags'], axis=1, inplace=True)
unemp

C:\Users\clpan\AppData\Local\Temp\ipykernel_17700\932750979.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unemp.drop(['LOCATION','Country','SUBJECT','Subject','MEASURE','Measure','FREQUENCY','Frequency','TIME',

    Time      Value
36  1992   8.791667
37  1993   9.725000
38  1994  10.650000
39  1995  11.183330
40  1996  11.166670
41  1997  11.216670
42  1998  11.300000
43  1999  10.866670
44  2000  10.050000
45  2001   9.008333
46  2002   8.475000
47  2003   8.433333
48  2004   8.050000
49  2005   7.783333
50  2006   6.866667
51  2007   6.150000
52  2008   6.775000
53  2009   7.875000

In [58]:
unemp.rename(columns={'Value':'Unemp_perc'}, inplace=True)

# We merge (left merge) the original dataframe df2 with the data2 above
result2 = pd.merge(result, #left df
                  unemp[['Time', 'Unemp_perc']], #right df with just the columns I want
                  on='Time', #column they have in common
                  how='left'
                 )
result2

C:\Users\clpan\AppData\Local\Temp\ipykernel_17700\3179787978.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unemp.rename(columns={'Value':'Unemp_perc'}, inplace=True)

    Time  EPL_regular  EPL_temporary  EPL_ratio  Unemp_perc
0   1992     3.015873          4.750   0.634921    8.791667
1   1993     3.015873          4.750   0.634921    9.725000
2   1994     3.015873          4.750   0.634921   10.650000
3   1995     3.015873          4.750   0.634921   11.183330
4   1996     3.015873          4.750   0.634921   11.166670
5   1997     3.015873          4.750   0.634921   11.216670
6   1998     3.015873          3.625   0.831965   11.300000
7   1999     3.015873          3.625   0.831965   10.866670
8   2000     3.015873          3.250   0.927961   10.050000
9   2001     3.015873          3.250   0.927961    9.008333
10  2002     3.015873          2.375   1.269841    8.475000
11  2003     3.015873          2.000   1.507936    8.433333
12  2004     3.015873          2.000   1.507936    8.050000
13  2005     3.015873          2.000   1.507936    7.783333
14  2006     3.015873          2.000   1.507936    6.866667
15  2007     3.015873          2.000   1.507936    6.150000
16  2008     3.015873          2.000   1.507936    6.775000
17  2009     3.015873          2.000   1.507936    7.875000

In [59]:
# We can plot the time series of the unemployment percentage

df = result2.copy()

# create a new plot with a title and axis labels
p = figure(title="Unemployment percentage in Italy (1992 - 2009)", x_axis_label='Years', 
           y_axis_label='Unemployment (%)', width=800, height=700)

# add a line renderer with legend and line thickness
p.line(df.Time, df.Unemp_perc, line_width=2)

# show the results
show(p)

# Benefits in Italy (1992 - 2009)

Now we analyze the trend of the public expenditure for labor market policies as a percentage of the Italian GDP. We consider the total expediture, both for active and passive labor market policies. In the OECD dataset, active policies are divided in two subsets: active programmes and active measures. Since for the period from 1992 to 2003 the active programmes data were not available, to obtain the total we sum the active and the passive measures.

In [71]:
benef = pd.read_csv("Public_expenditure_active_and_passive_labor_policies.csv")
benef

,LFS_COUNTRY,Country,PROG,Programmes,MEAS,Measure,FREQUENCY,Frequency,TIME,Time,Value,Flag Codes,Flags
0,AUS,Australia,10,PES and administration,EXPPCT,Public expenditure as a percentage of GDP,A,Annual,1992,1992,0.21,NaN,NaN
1,AUS,Australia,10,PES and administration,EXPPCT,Public expenditure as a percentage of GDP,A,Annual,1993,1993,0.21,NaN,NaN
2,AUS,Australia,10,PES and administration,EXPPCT,Public expenditure as a percentage of GDP,A,Annual,1994,1994,0.19,NaN,NaN
3,AUS,Australia,10,PES and administration,EXPPCT,Public expenditure as a percentage of GDP,A,Annual,1995,1995,0.22,NaN,NaN
4,AUS,Australia,10,PES and administration,EXPPCT,Public expenditure as a percentage of GDP,A,Annual,1996,1996,0.22,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
13436,SWE,Sweden,200,Total without temporary employment and income ...,EXPPCT,Public expenditure as a percentage of GDP,A,Annual,2005,2005,2.30,NaN,NaN
13437,SWE,Sweden,200,Total without temporary employment and income ...,EXPPCT,Public expenditure as a percentage of GDP,A,Annual,2006,2006,2.16,NaN,NaN
13438,SWE,Sweden,200,Total without temporary employment and income ...,EXPPCT,Public expenditure as a percentage of GDP,A,Annual,2007,2007,1.66,NaN,NaN
13439,SWE,Sweden,200,Total without temporary employment and income ...,EXPPCT,Public expenditure as a percentage of GDP,A,Annual,2008,2008,1.36,NaN,NaN
13440,SWE,Sweden,200,Total without temporary employment and income ...,EXPPCT,Public expenditure as a percentage of GDP,A,Annual,2009,2009,1.75,NaN,NaN

In [73]:

benef = benef[(benef.LFS_COUNTRY == 'ITA') & ((benef.Programmes == 'Total') | (benef.Programmes == 'Active programmes (10-70)')
                                             | (benef.Programmes == 'Active measures (20-70)') | (benef.Programmes == 'Passive measures (80-90)'))]
benef

,LFS_COUNTRY,Country,PROG,Programmes,MEAS,Measure,FREQUENCY,Frequency,TIME,Time,Value,Flag Codes,Flags
4814,ITA,Italy,100,Total,EXPPCT,Public expenditure as a percentage of GDP,A,Annual,2004,2004,1.21,NaN,NaN
4815,ITA,Italy,100,Total,EXPPCT,Public expenditure as a percentage of GDP,A,Annual,2005,2005,1.21,NaN,NaN
4816,ITA,Italy,100,Total,EXPPCT,Public expenditure as a percentage of GDP,A,Annual,2006,2006,1.12,NaN,NaN
4817,ITA,Italy,100,Total,EXPPCT,Public expenditure as a percentage of GDP,A,Annual,2007,2007,1.02,NaN,NaN
4818,ITA,Italy,100,Total,EXPPCT,Public expenditure as a percentage of GDP,A,Annual,2008,2008,1.14,NaN,NaN
4819,ITA,Italy,100,Total,EXPPCT,Public expenditure as a percentage of GDP,A,Annual,2009,2009,1.69,NaN,NaN
4820,ITA,Italy,110,Active programmes (10-70),EXPPCT,Public expenditure as a percentage of GDP,A,Annual,2004,2004,0.60,NaN,NaN
4821,ITA,Italy,110,Active programmes (10-70),EXPPCT,Public expenditure as a percentage of GDP,A,Annual,2005,2005,0.53,NaN,NaN
4822,ITA,Italy,110,Active programmes (10-70),EXPPCT,Public expenditure as a percentage of GDP,A,Annual,2006,2006,0.48,NaN,NaN
4823,ITA,Italy,110,Active programmes (10-70),EXPPCT,Public expenditure as a percentage of GDP,A,Annual,2007,2007,0.43,NaN,NaN
4824,ITA,Italy,110,Active programmes (10-70),EXPPCT,Public expenditure as a percentage of GDP,A,Annual,2008,2008,0.45,NaN,NaN
4825,ITA,Italy,110,Active programmes (10-70),EXPPCT,Public expenditure as a percentage of GDP,A,Annual,2009,2009,0.45,NaN,NaN
4826,ITA,Italy,112,Active measures (20-70),EXPPCT,Public expenditure as a percentage of GDP,A,Annual,1992,1992,0.28,NaN,NaN
4827,ITA,Italy,112,Active measures (20-70),EXPPCT,Public expenditure as a percentage of GDP,A,Annual,1993,1993,0.22,NaN,NaN
4828,ITA,Italy,112,Active measures (20-70),EXPPCT,Public expenditure as a percentage of GDP,A,Annual,1994,1994,0.24,NaN,NaN
4829,ITA,Italy,112,Active measures (20-70),EXPPCT,Public expenditure as a percentage of GDP,A,Annual,1995,1995,0.26,NaN,NaN
4830,ITA,Italy,112,Active measures (20-70),EXPPCT,Public expenditure as a percentage of GDP,A,Annual,1996,1996,0.33,NaN,NaN
4831,ITA,Italy,112,Active measures (20-70),EXPPCT,Public expenditure as a percentage of GDP,A,Annual,1997,1997,0.38,NaN,NaN
4832,ITA,Italy,112,Active measures (20-70),EXPPCT,Public expenditure as a percentage of GDP,A,Annual,1998,1998,0.46,NaN,NaN
4833,ITA,Italy,112,Active measures (20-70),EXPPCT,Public expenditure as a percentage of GDP,A,Annual,1999,1999,0.53,NaN,NaN
4834,ITA,Italy,112,Active measures (20-70),EXPPCT,Public expenditure as a percentage of GDP,A,Annual,2000,2000,0.55,NaN,NaN
4835,ITA,Italy,112,Active measures (20-70),EXPPCT,Public expenditure as a percentage of GDP,A,Annual,2001,2001,0.61,NaN,NaN
4836,ITA,Italy,112,Active measures (20-70),EXPPCT,Public expenditure as a percentage of GDP,A,Annual,2002,2002,0.68,NaN,NaN
4837,ITA,Italy,112,Active measures (20-70),EXPPCT,Public expenditure as a percentage of GDP,A,Annual,2003,2003,0.68,NaN,NaN
4838,ITA,Italy,112,Active measures (20-70),EXPPCT,Public expenditure as a percentage of GDP,A,Annual,2004,2004,0.52,NaN,NaN
4839,ITA,Italy,112,Active measures (20-70),EXPPCT,Public expenditure as a percentage of GDP,A,Annual,2005,2005,0.46,NaN,NaN
4840,ITA,Italy,112,Active measures (20-70),EXPPCT,Public expenditure as a percentage of GDP,A,Annual,2006,2006,0.40,NaN,NaN
4841,ITA,Italy,112,Active measures (20-70),EXPPCT,Public expenditure as a percentage of GDP,A,Annual,2007,2007,0.36,NaN,NaN
4842,ITA,Italy,112,Active measures (20-70),EXPPCT,Public expenditure as a percentage of GDP,A,Annual,2008,2008,0.36,NaN,NaN
4843,ITA,Italy,112,Active measures (20-70),EXPPCT,Public expenditure as a percentage of GDP,A,Annual,2009,2009,0.35,NaN,NaN
4844,ITA,Italy,120,Passive measures (80-90),EXPPCT,Public expenditure as a percentage of GDP,A,Annual,1992,1992,1.01,NaN,NaN
4845,ITA,Italy,120,Passive measures (80-90),EXPPCT,Public expenditure as a percentage of GDP,A,Annual,1993,1993,1.15,NaN,NaN
4846,ITA,Italy,120,Passive measures (80-90),EXPPCT,Public expenditure as a percentage of GDP,A,Annual,1994,1994,1.13,NaN,NaN
4847,ITA,Italy,120,Passive measures (80-90),EXPPCT,Public expenditure as a percentage of GDP,A,Annual,1995,1995,0.92,NaN,NaN
4848,ITA,Italy,120,Passive measures (80-90),EXPPCT,Public expenditure as a percentage of GDP,A,Annual,1996,1996,0.92,NaN,NaN
4849,ITA,Italy,120,Passive measures (80-90),EXPPCT,Public expenditure as a percentage of GDP,A,Annual,1997,1997,0.81,NaN,NaN
4850,ITA,Italy,120,Passive measures (80-90),EXPPCT,Public expenditure as a percentage of GDP,A,Annual,1998,1998,0.54,NaN,NaN
4851,ITA,Italy,120,Passive measures (80-90),EXPPCT,Public expenditure as a percentage of GDP,A,Annual,1999,1999,0.51,NaN,NaN
4852,ITA,Italy,120,Passive measures (80-90),EXPPCT,Public expenditure as a percentage of GDP,A,Annual,2000,2000,0.61,NaN,NaN
4853,ITA,Italy,120,Passive measures (80-90),EXPPCT,Public expenditure as a percentage of GDP,A,Annual,2001,2001,0.56,NaN,NaN
4854,ITA,Italy,120,Passive measures (80-90),EXPPCT,Public expenditure as a percentage of GDP,A,Annual,2002,2002,0.55,NaN,NaN
4855,ITA,Italy,120,Passive measures (80-90),EXPPCT,Public expenditure as a percentage of GDP,A,Annual,2003,2003,0.55,NaN,NaN
4856,ITA,Italy,120,Passive measures (80-90),EXPPCT,Public expenditure as a percentage of GDP,A,Annual,2004,2004,0.61,NaN,NaN
4857,ITA,Italy,120,Passive measures (80-90),EXPPCT,Public expenditure as a percentage of GDP,A,Annual,2005,2005,0.67,NaN,NaN
4858,ITA,Italy,120,Passive measures (80-90),EXPPCT,Public expenditure as a percentage of GDP,A,Annual,2006,2006,0.64,NaN,NaN
4859,ITA,Italy,120,Passive measures (80-90),EXPPCT,Public expenditure as a percentage of GDP,A,Annual,2007,2007,0.59,NaN,NaN
4860,ITA,Italy,120,Passive measures (80-90),EXPPCT,Public expenditure as a percentage of GDP,A,Annual,2008,2008,0.69,NaN,NaN
4861,ITA,Italy,120,Passive measures (80-90),EXPPCT,Public expenditure as a percentage of GDP,A,Annual,2009,2009,1.24,NaN,NaN

In [74]:
benef.drop(['LFS_COUNTRY','Country','PROG','MEAS','Measure','FREQUENCY','Frequency','TIME',
           'Flag Codes','Flags'], axis=1, inplace=True)
benef

C:\Users\clpan\AppData\Local\Temp\ipykernel_17700\3436134567.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  benef.drop(['LFS_COUNTRY','Country','PROG','MEAS','Measure','FREQUENCY','Frequency','TIME',

                     Programmes  Time  Value
4814                      Total  2004   1.21
4815                      Total  2005   1.21
4816                      Total  2006   1.12
4817                      Total  2007   1.02
4818                      Total  2008   1.14
4819                      Total  2009   1.69
4820  Active programmes (10-70)  2004   0.60
4821  Active programmes (10-70)  2005   0.53
4822  Active programmes (10-70)  2006   0.48
4823  Active programmes (10-70)  2007   0.43
4824  Active programmes (10-70)  2008   0.45
4825  Active programmes (10-70)  2009   0.45
4826    Active measures (20-70)  1992   0.28
4827    Active measures (20-70)  1993   0.22
4828    Active measures (20-70)  1994   0.24
4829    Active measures (20-70)  1995   0.26
4830    Active measures (20-70)  1996   0.33
4831    Active measures (20-70)  1997   0.38
4832    Active measures (20-70)  1998   0.46
4833    Active measures (20-70)  1999   0.53
4834    Active measures (20-70)  2000   0.55
4835    Active measures (20-70)  2001   0.61
4836    Active measures (20-70)  2002   0.68
4837    Active measures (20-70)  2003   0.68
4838    Active measures (20-70)  2004   0.52
4839    Active measures (20-70)  2005   0.46
4840    Active measures (20-70)  2006   0.40
4841    Active measures (20-70)  2007   0.36
4842    Active measures (20-70)  2008   0.36
4843    Active measures (20-70)  2009   0.35
4844   Passive measures (80-90)  1992   1.01
4845   Passive measures (80-90)  1993   1.15
4846   Passive measures (80-90)  1994   1.13
4847   Passive measures (80-90)  1995   0.92
4848   Passive measures (80-90)  1996   0.92
4849   Passive measures (80-90)  1997   0.81
4850   Passive measures (80-90)  1998   0.54
4851   Passive measures (80-90)  1999   0.51
4852   Passive measures (80-90)  2000   0.61
4853   Passive measures (80-90)  2001   0.56
4854   Passive measures (80-90)  2002   0.55
4855   Passive measures (80-90)  2003   0.55
4856   Passive measures (80-90)  2004   0.61
4857   Passive measures (80-90)  2005   0.67
4858   Passive measures (80-90)  2006   0.64
4859   Passive measures (80-90)  2007   0.59
4860   Passive measures (80-90)  2008   0.69
4861   Passive measures (80-90)  2009   1.24

In [85]:
# Active measures from 1992 to 2003
am_92_03 = [] 
for Programmes, Time, Value in zip(benef['Programmes'], benef['Time'], benef['Value']):
    if(Programmes == 'Active measures (20-70)' and Time >= 1992 and Time <= 2003):
      am_92_03.append(Value)

# Passive measures from 1992 to 2003
pm_92_03 = [] 
for Programmes, Time, Value in zip(benef['Programmes'], benef['Time'], benef['Value']):
    if(Programmes == 'Passive measures (80-90)' and Time >= 1992 and Time <= 2003):
      pm_92_03.append(Value)

In [86]:
total_92_03 = []
for i in range(len(am_92_03)):
    total_92_03.append(am_92_03[i] + pm_92_03[i])
total_92_03

[1.29,
 1.3699999999999999,
 1.3699999999999999,
 1.1800000000000002,
 1.25,
 1.19,
 1.0,
 1.04,
 1.1600000000000001,
 1.17,
 1.23,
 1.23]

In [87]:
total_92_03_formatted = [ '%.2f' % elem for elem in total_92_03 ]
total_92_03_formatted

['1.29',
 '1.37',
 '1.37',
 '1.18',
 '1.25',
 '1.19',
 '1.00',
 '1.04',
 '1.16',
 '1.17',
 '1.23',
 '1.23']

In [89]:

Time = [x for x in np.arange(1992, 2004, 1)]
Programmes = ['Total'] * len(Time)
data = {'Programmes': Programmes, 'Time': Time, 'Value': total_92_03_formatted}
new_df = pd.DataFrame(data)
new_df

   Programmes  Time Value
0       Total  1992  1.29
1       Total  1993  1.37
2       Total  1994  1.37
3       Total  1995  1.18
4       Total  1996  1.25
5       Total  1997  1.19
6       Total  1998  1.00
7       Total  1999  1.04
8       Total  2000  1.16
9       Total  2001  1.17
10      Total  2002  1.23
11      Total  2003  1.23

In [91]:
benef_sub = benef[(benef.Programmes == 'Total')]
benef_sub

     Programmes  Time  Value
4814      Total  2004   1.21
4815      Total  2005   1.21
4816      Total  2006   1.12
4817      Total  2007   1.02
4818      Total  2008   1.14
4819      Total  2009   1.69

In [94]:
result3 = new_df.append(benef_sub)
result3

C:\Users\clpan\AppData\Local\Temp\ipykernel_17700\974650917.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  result3 = new_df.append(benef_sub)

     Programmes  Time Value
0         Total  1992  1.29
1         Total  1993  1.37
2         Total  1994  1.37
3         Total  1995  1.18
4         Total  1996  1.25
5         Total  1997  1.19
6         Total  1998  1.00
7         Total  1999  1.04
8         Total  2000  1.16
9         Total  2001  1.17
10        Total  2002  1.23
11        Total  2003  1.23
4814      Total  2004  1.21
4815      Total  2005  1.21
4816      Total  2006  1.12
4817      Total  2007  1.02
4818      Total  2008  1.14
4819      Total  2009  1.69

In [95]:
result3 = result3.reset_index()

In [97]:
del result3['Programmes']
del result3['index']
result3

    Time Value
0   1992  1.29
1   1993  1.37
2   1994  1.37
3   1995  1.18
4   1996  1.25
5   1997  1.19
6   1998  1.00
7   1999  1.04
8   2000  1.16
9   2001  1.17
10  2002  1.23
11  2003  1.23
12  2004  1.21
13  2005  1.21
14  2006  1.12
15  2007  1.02
16  2008  1.14
17  2009  1.69

In [98]:
result3.rename(columns={'Value':'Public_exp'}, inplace=True)

In [99]:
# We can plot the time series of the public expenditure for labor market policies as a percentage of the Italian GDP

df = result3.copy()

# create a new plot with a title and axis labels
p = figure(title="Public expenditure for labor market policies as a percentage of the Italian GDP (1992 - 2009)", x_axis_label='Years', 
           y_axis_label='Public expenditure (% GDP)', width=800, height=700)

# add a line renderer with legend and line thickness
p.line(df.Time, df.Public_exp, line_width=2)

# show the results
show(p)

It seems that the public expenditure for labor market policies in Italy has had a more fragmented trend than the one of the EPL ratio and the unemployment percentage. After a first decrease from 1992 to 1998, it increased till 2002-2003, when it decreased again before literally exploding from 2007-2008. In 2008 there have been such an intense increase in active and passive measures to face the financial crisis that involved almost all the industrialized countries. But before that year, as reported also by the European Commission paper, Italy had a low level of public spending if compared to the major euro area countries.

# Conclusion

Even if this simple descriptive analysis cannot be held as significant as the one conducted by Thomas Biegert in his paper: "Welfare Benefits and Unemployment in Affluent Democracies: The Moderating Role of the Institutional Insider/Outsider Divide", it highlights some aspects of the Italian labor market that seems to support the result of the paper. In fact, during the time period considered, the EPL ratio has increased, indicating a greater insider/outsider divide. At the same time, the active and passive public measures have remained substantially at a low level. And the unemployment rate, as predicted by the model, has tendentially decreased until 2007-2008, confirming, in the case of a large divide, the general tendency  of jobseekers to accept jobs they would have probably otherwise refused if the benefits would have been higher.